@media (max-width: 1050px) {
  html {
    font-size: 12px;
  }
}
@media (max-width: 870px) {
  html {
    font-size: 10px;
  }
 .container{
  #nav{
    display: none;
  }
  #nav2{
    display: flex;
  }
 }
//   .container {
//     #nav {
//       .search {
//         .input {
//           input {
//             &::placeholder {
//               font-size: 12px;
//             }
//           }
//         }
//       }
//     }
//   }
}
