@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
$dm-sans: "DM Sans",
sans-serif;
$orange: #fb9300;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {

  #nav {
    padding: 21px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 81.5%;

    .kataloq {
      padding: 14px 19px;
      background-color: $orange;
      border-radius: 10px;
      display: flex;
      color: white;
      .inner {
        display: flex;
        align-items: center;
        justify-content: center;
        span {
          &:last-of-type {
            display: flex;
            align-items: center;
            justify-content: center;
          }
          height: 100%;
          align-items: center;
        }

        .text {
          margin: 0 4px 0 7px;
        }
      }
    }

    .logo {
      margin-left: 50px;
    }

    .search {
      width: 60%;

      margin-left: 50px;

      .input {
        width: 100%;
        display: flex;
        height: 48px;
        position: relative;

        input {
          width: 100%;
          height: 100%;
          outline: none;
          border: 1px solid #ebecef;
          border-radius: 30px;
          padding-left: 15px;
        }

        button {
          top: 50%;
          transform: translate(0, -50%);
          position: absolute;
          right: 5px;
          width: 38px;
          aspect-ratio: 1/1;
          border-radius: 50%;
          background: #ebecef;
          border: none;
          display: flex;
          align-items: center;
          justify-content: center;

          i {
            font-size: 16px;
          }
        }
      }
    }

    .user-info {
      display: flex;
      margin-left: 50px;

      .shopping-card {
        display: flex;
        align-items: center;

        .shopping-card-icon {
          display: flex;
          position: relative;
          margin-right: 10px;

          .shopping-count {
            position: absolute;
            bottom: 62%;
            right: -3px;
            background: #fb9300;
            border: 1px solid #ffffff;
            width: 16px;
            aspect-ratio: 1/1;
            border-radius: 50%;
            font-family: "Roboto";
            font-style: normal;
            font-weight: 500;
            font-size: 11px;
            line-height: 13px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }

      .auth {
        display: flex;
        margin-left: 30px;
        align-items: center;

        .user-icon {
          margin-right: 8px;

        }
      }
    }

    .liked {
      margin-left: 28px;
    }
  }

  .main {
    background: #e5e5e5;
    .content {
      margin: auto;
      width: 81.5%;

      .popular {
        padding-top: 30px;
        padding-bottom: 30px;

        .title {
          display: flex;
          justify-content: space-between;

          .left {
            font-family: "DM Sans";
            font-style: normal;
            font-weight: 700;
            font-size: 2rem;
            line-height: 2.625rem;
            /* identical to box height */

            color: #2d2d2d;
          }

          .right {
            background: #ffffff;
            border-radius: 10px;
            padding: 10px 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: "DM Sans";
            font-style: normal;
            font-weight: 500;
            font-size: 0.875rem;
            line-height: 1.125rem;

            span {
              display: flex;
              align-items: center;
              justify-content: center;
              i {
                margin-top: 2px;
              }
            }
          }
        }
        .cards {
          margin-top: 26px;
          display: flex;
          justify-content: space-between;
          .card {
            padding: 20px;
            width: 24.8%;
            background: #ffffff;
            border-radius: 5px;
            .top {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 100%;
              img {
                width: 110px;
              }
            }
            .product-name {
              font-family: "DM Sans";
              font-style: normal;
              font-weight: 400;
              font-size: 0.9375rem;
              line-height: 140%;
              color: #818181;
              margin-top: 20px;
              max-width: 190px;
            }
            .price-product {
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin-top: 18px;
              .price {
                font-family: "DM Sans";
                font-style: normal;
                font-weight: 700;
                font-size: 1.25rem;
                line-height: 1.625rem;
                color: #2d2d2d;
              }
              .credit {
                border: 1px solid #f2f2f2;
                border-radius: 5px;
                padding: 10px 14px;
                .percent {
                  font-family: "DM Sans";
                  font-style: normal;
                  font-weight: 500;
                  font-size: 0.875rem;
                  line-height: 1.125rem;
                  color: #ff0000;
                }
                .money-of-month {
                  font-family: "DM Sans";
                  font-style: normal;
                  font-weight: 500;
                  font-size: 0.75rem;
                  line-height: 1rem;
                  color: #2d2d2d;
                }
              }
            }
            .card-button {
              margin-top: 28px;
              border: 0.5px solid #009e36;
              border-radius: 5px;
              width: 100%;
              padding: 11px 0;
              text-align: center;
              color: #009e36;
              font-family: "DM Sans";
              font-style: normal;
              font-weight: 400;
              font-size: 0.75rem;
              line-height: 1rem;
            }
          }
        }
      }
    }
  }
  .footer {
    background: #18181a;
    color: white;
    .footer-content {
      margin: auto;
      width: 81.5%;
      padding-top: 95px;
      .footer-top {
        display: flex;
        justify-content: space-between;
        .sociality {
          .social-media {
            margin-top: 63px;
            .social-message {
              font-family: "Roboto";
              font-style: normal;
              font-weight: 500;
              font-size: 1.125rem;
              line-height: 1.3125rem;
            }
            .social-medias {
              display: flex;
              margin-top: 20px;
              div {
                border-radius: 50%;
                border: 1px solid #95979c;
                color: #95979c;
                width: 40px;
                aspect-ratio: 1/1;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 10px;
                span {
                  height: 1rem;
                }
                &:last-of-type {
                  margin-right: 0;
                }
                &:hover {
                  background-color: #ff0000;
                  color: white;
                  cursor: pointer;
                }
              }
            }
          }
        }
        .business {
          .title {
            font-family: "Roboto";
            font-style: normal;
            font-weight: 500;
            font-size: 1.5rem;
            line-height: 1.75rem;
            color: #ffffff;
          }
          .content {
            margin-top: 30px;
            font-family: "Roboto";
            font-style: normal;
            font-weight: 400;
            font-size: 1rem;
            line-height: 1.1875rem;
            color: #95979c;
            p {
              margin-bottom: 10px;
            }
          }
        }
        .customers {
          .title {
            font-family: "Roboto";
            font-style: normal;
            font-weight: 500;
            font-size: 1.5rem;
            line-height: 1.75rem;
            color: #ffffff;
          }
          .content {
            margin-top: 30px;
            font-family: "Roboto";
            font-style: normal;
            font-weight: 400;
            font-size: 1rem;
            line-height: 1.1875rem;
            color: #95979c;
            p {
              margin-bottom: 10px;
            }
          }
        }
        .contact-info {
          .title {
            font-family: "Roboto";
            font-style: normal;
            font-weight: 500;
            font-size: 1.5rem;
            line-height: 1.75rem;
            color: #ffffff;
          }
          .contact {
            font-family: "Roboto";
            font-style: normal;
            font-weight: 800;
            font-size: 2.25rem;
            line-height: 2.625rem;
            .star {
              color: #fb9300;
            }
          }
          .location {
            margin-top: 20px;
            display: flex;
            align-items: center;
            font-family: "Roboto";
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 160%;
            i {
              margin-right: 15px;
            }
          }
          .mail {
            margin-top: 10px;
            display: flex;
            align-items: center;
            font-family: "Roboto";
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 160%;
            i {
              margin-right: 15px;
            }
          }
        }
      }
      hr {
        margin-top: 84px;
        border: 1px solid #474747;
      }
      .footer-bottom {
        padding: 30px 0;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        .logo {
          margin-right: 10px;
          i {
            font-size: 12px;
          }
        }
      }
    }
  }
}